:root{
    --color-fondo: #e8e8e8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    position: relative;
}

main{
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
}

/* =================================== */

header{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    background-color: var(--color-fondo);
}

#boton-menu-mobil{
    display: none;
}

footer{
    text-align: center;
    padding: 5px;
    background-color: var(--color-fondo);
}

#barra-lateral{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-fondo);
}

.menu-panel{
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}

.menu-panel-boton:hover:not(.active){
    background-color: aliceblue;
}

.menu-panel-boton a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000000;
    padding: 7px;
}

.menu-panel-boton img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@media (max-width: 590px) {
    #boton-menu-mobil{
        display: flex;
        border: none;
        background-color: inherit;
        width: 25px;
        cursor: pointer;
    }

    #barra-lateral{
        position: absolute;
        z-index: 1;
        top: 0;
        left: -130px;
        height: 100vh;
        transition: left 0.5s ease;
    }

    #cerrar-barra-lateral{
        display: flex;
        width: 20px;
        cursor: pointer;
        align-self: flex-end;
        background-color: inherit;
        border: none;
        padding: 14px 5px;
        margin-bottom: 1px;
    }
}