@media (max-width: 590px){

    #contenido{
        flex-grow: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: center;
    }

    .lista-precios{
        padding: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #b8b8b8;
        margin: 5px;
    }

    table{
        border-collapse: collapse;
        width: 100%;
    }

    caption{
        padding: 10px;
    }

    tbody, thead{
        text-align: justify;
        font-size: small;
    }

    th{
        padding: 5px;
        background-color: #4c4c4c;
        color: #ffffff;
    }

    td{
        padding: 5px;
    }

    tr:nth-child(odd){
        background-color: #e4e4e4;
    }

    tr:hover{
        background-color: #fbff7e;
    }

    .marcadores{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .marcador{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 5px;
        box-shadow: 2px 2px 3px #b8b8b8;
    }

    .dollar{
        background-color: #2fb75a;
    }

    .productos{
        background-color: #4b87d5;
    }

    .marcador-texto{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 30px;
    }

    .marcador-imagen{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .marcador-imagen img{
        margin: 5px;
        width: 30px;
        height: 30px;
    }
}