
@media (max-width: 590px){

    /* Contenido principal */
    #contenido{
        flex-grow: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: center;
    }

    .tipo{
        padding: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #b8b8b8;
        margin: 5px;
    }

    .lista{
        display: flex;
        overflow: hidden;
        max-height: 0px;
        transition: max-height 1s ease;
    }

    .cabecera-tipo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .cabecera-tipo img{
        width: 25px;
        height: 25px;
    }

    .active{
        max-height: 1000px;
    }

    /* Tabla de las listas */
    .lista table{
        border-collapse: collapse;
        width: 100%;
        text-align: justify;
        font-size: small;
        margin: 10px 5px;
    }

    .lista thead{
        background-color: #414141;
        color: #ffffff;
    }

    .lista th, td{
        padding: 5px;
    }

    .lista tbody tr td img{
        display: flex;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }    

    /* Popups */

    .popups-editar{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #00000088;
    }

    .contenedor-formulario{
        position: relative;
        background-color: #ffffff;
        padding: 15px;
        margin: 20px;
        border-radius: 8px;
        text-align: center;
    }

    .cerrar-popups{
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        background-color: initial;
        border: none;
        width: 20px;
        height: 20px;
    }

    .popups-editar form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    [type="text"], [type="number"]{
        padding: 5px;
        border: 1px solid #cecece;
        margin: 3px;
        background-color: initial;
    }

    .popups-editar form > div *{
        border: none;
        background-color: #cecece;
        padding: 10px;
        margin: 5px;
    }
}